.navbar-logo {
  height: 40px;
  border-radius: 10px;
}

.dropdown-indicator {
  text-decoration: underline;
  cursor: pointer;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(246, 146, 14);
}
